nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.menu{
    display: flex;
    gap: 1.5rem;
}

.menu li a{
    color: #fff2e780;
}

.github{
    font-weight: 600;
    color: #fff2e7;
}

.menu a:hover{
    color: #A45A49;
}

@media screen and (max-width: 672px) {
    .menu, a{
        display: none;
    }

    .logo{
        padding-left: 7rem;
    }
}

@media screen and (max-width: 545px) {
    .logo{
        padding-left: 3rem;
    }
}

@media screen and (max-width: 523px) {
    .logo{
        padding-left: 2rem;
    }
}